@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="hero">Developing Starts Here!</h1>
    <p class="hero-subtitle">
        Start your coding journey with passion, purpose, and powerful tools. 🚀
    </p>
</section>


